button{
    color: #fff;
    background-color: rgb(72, 131, 220);
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    height: 30px;
    margin-top: 15px ;
}
img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;

}
button , p{
    display: inline;
    
}
button{
    margin-left: 50px;
}
div{
    display: flex;
    justify-content: baseline;
    
    
}
P{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}