.container {
    display: flex;
    
  }
  
  .container > div {
   
   
    padding: 10px;
    font-size: 30px;
  }
  .a{
width: 200px;
background-color: aqua;
  }
  .b{
    width: 75px;
    background-color: palevioletred;
  }