.container {
    display: flex;
    
  }
  
  .container > div {
   
   
    padding: 10px;
    font-size: 30px;
  }
  .a{
width: 60px;
background-color: aqua;
  }
  .b{
    width: 75px;
    background-color: aqua;
  }
  .d{
    background-color: palevioletred;
    width: 400px;
  }
 