button {
    background-color: green;
    border: none;
    color: #fff;
    margin: 5px 10px;
    padding: 10px 30px;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.5s;
    
}
.b1:hover{
    margin: 5px 10px;
   padding: 10px 40px;
}
.b2:hover{
    margin: 5px 10px;
   padding: 10px 40px;
}
.b3:hover{
    margin: 5px 10px;
   padding: 10px 40px;
}