a{
    color: rgb(0, 113, 133);
}
.one{
    font-weight: bold;
    color:black;
}
.two{
    color: rgb(0, 118, 0);
    font-weight: 500;
}
.b1{
    background-color: rgb(255, 216, 20);
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    margin-right: 4px;
}
.b2{
    background-color: rgb(255, 164, 28);
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}
