input{
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 30px;
    padding: 5px 10px;
    margin-left: 180px;
    display:block;
    
}
img{
    width: 250px;
   margin-left: 300px;
}
