button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .youtube {
    padding: 10px 20px;
    color: white;
    background-color: #c70100;
    border: none;
    border-radius: 1px;
    text-transform: uppercase;
    transition: 5s;
  }
  .youtube:active {
    background-color: #3964a8;
  }
  .join {
    color: #3964a8;
    background-color: white;
    border: solid 1px#3964a8;
    border-radius: 2px;
  }
  .tweet {
    /* color: white; */
    background-color: rgb(69, 187, 234);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    color: #fff;
    padding: 8px 15px;
  }
  