button{
    background-color: green;
    border: none;
    color: #fff;
    width: 60px;
    height: 30px;
    
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    box-shadow: 2px 2px 5px rgb(68, 71, 71);
}
button:active{
    box-shadow: none;
}